.btn_edit{
    padding: 5px 36px;
}

.back_link{
        color: black;
            font-size: 18px;
            padding: 5px 20px;
            background: #f1f1f1;
            margin-left: 9px;
            border-radius: 3px;
}